footer{
    @include flexCenter;
  margin-top: 50px;
    img{
        height: 50px;
        object-fit: contain;
        display: block;
        
    }
    @media screen and (max-width:600px) {
      margin-top: 10px;
    }
}