.btn{
    button{
        cursor: pointer;
        outline:none;
        border: none;
        padding: 10px;
        background-color: $primary;
        color: black;
        width: 30%;
        font-family: 'Poppins';
        font-weight: 600;
        
    }
}