.list{
   
    // @include glitchBackground;
    margin: 5px;
    display: grid;
    grid-template-columns: 5% 5% 75% 15%;
    @media screen and (max-width:900px) {
        grid-template-columns: 8% 11% 60% 12%;
    }
    grid-gap: 5px;
    font-family: 'Poppins';
    color: white;
    align-items: stretch;
    justify-items: stretch;
    .rank{
        font-family: 'AlienCyborg';
        font-size: 1.25rem;
        text-align: center;
         background-color: $dark-black;
        justify-self: stretch;
        // align-self: stretch;
        padding:8px;
       @media screen and (max-width:600px) {
             font-size: 1rem;
         }
    }
    .avatar{
     
      
        height: 50px;
        border-left: 3px solid $primary;
        border-bottom: 3px solid $primary;
            // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        overflow: hidden;
        img{
            width: 100%;
         
            object-fit: cover;
            
        }
        
    }
    .lable{
        text-transform: capitalize;
        font-weight: 400;
        font-family: 'AlienCyborg';
        letter-spacing: 5px;
        font-size: 1.25rem;
         background-color: $dark-black;
         justify-self: stretch;
         display: flex;
         align-items: center;
         padding: 8px 12px;
         @media screen and (max-width:600px) {
             font-size: 0.8rem;
         }
    }
    .score{
         font-family: 'AlienCyborg';
        letter-spacing: 2px;
    font-size: 1.25rem;
         background-color: $dark-black;
        justify-self: stretch;
        // align-self: stretch;
        padding:8px;
          text-align: center;
           @media screen and (max-width:600px) {
             font-size: 1rem;
         }
    }
    &:hover{
      .rank,.lable,.score{
          background-color: aquamarine;
          color: $dark-black;
          transform: skew(-10deg);
          transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .avatar{
           transform: skew(-10deg);
          transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  
}