.navbar {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 28;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: min-content;
  background-color: $dark-pink;
  color: white;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  padding: 10px;
  @include glitchBackground;
  .nav-group {
    flex-direction: column;
    transition: all 2s ease-in-out;

    .nav-item {
      margin: 18px 0;
      padding: 5px;
      @include flexCenter();
      justify-content: flex-start;
      cursor: pointer;
      .nav-text {
        display: none;
        color: white;
        margin-left: 20px;
      }
      .nav-icon {
        svg {
          width: 28px;
          height: 28px;
          @media screen and (max-width:600px) {
              width: 23px;
              height: 23px;
          }
        }
      }
      &:hover {
        animation: grow 0.5s linear;
        backdrop-filter: blur(16px);
        opacity: 0.5;
        color: white;
        border-radius: 3px;
        background-color: $dark-pink;
      }
    }
    &:hover {
      .nav-text {
        display: block;
      }
    }
  }
  @media screen and (max-width: 900px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    padding: 0px;
    background-color: $dark-pink;
    .nav-group {
      @include flexCenter;
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly;
      .nav-item {
        padding: 0px 3px;
        flex-direction: column;
        .nav-text {
          display: block;
          font-size: 0.8rem;
          margin-left: 0px;
          font-weight: 300;
        }
        &:hover {
          
          background: transparent;
        }
      }
    }
  }
}
