@font-face {
  font-family: "SquareEngine";
  src: local("SquareEngine"), url(../Assets/Fonts/SquareEngine050Apex-4rl.ttf);
}

@font-face {
  font-family: "AlienCyborg";
  src: local("AlienCyborg"), url("../Assets/Fonts/neuropol x rg.ttf");
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 3s 0s infinite;
          animation: drop 3s 0s infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -45%;
}

.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.line:nth-child(2) {
  margin-left: -50%;
}

.line:nth-child(2)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.line:nth-child(3) {
  margin-left: 35%;
}

.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.line:nth-child(4) {
  margin-left: 40%;
}

.line:nth-child(4)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.line:nth-child(4) {
  margin-left: 40%;
}

.line:nth-child(5)::after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.line:nth-child(5) {
  margin-left: 50%;
}

.line:nth-child(5)::after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "AlienCyborg";
  color: white;
  font-size: 3rem;
  letter-spacing: 1px;
  min-height: 50vh;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  -webkit-animation: neon 0.5s ease-in-out infinite alternate;
          animation: neon 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px #fff50f, 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px transparent, 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84);
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px #fff50f, 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px transparent, 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84);
  }
}

.timer .time {
  margin: 1rem;
}

@media screen and (max-width: 900px) {
  .timer {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .timer {
    font-size: 1.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header {
  margin-top: 5%;
}

.header .sign__word {
  font-size: 5.6rem;
  text-align: center;
  line-height: 1;
  color: #FFF50F;
  font-weight: bold;
  font-family: "SquareEngine";
  display: block;
  -webkit-animation: neon 0.5s ease-in-out infinite alternate;
          animation: neon 0.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px #fff50f, 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px transparent, 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84);
  }
}

@media screen and (max-width: 900px) {
  .header .sign__word {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .header .sign__word {
    font-size: 2rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: url(../../Assets/Images/bg.jpg) no-repeat;
  -webkit-animation: glitch 2s infinite linear;
          animation: glitch 2s infinite linear;
}

@-webkit-keyframes glitch {
  0% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    background-position: 0px 0px;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes glitch {
  0% {
    background-position: 0 0;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    background-position: 0px 0px;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.bg .bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 20;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 22;
}
/*# sourceMappingURL=main.css.map */