$primary: #fff50f;
$black: rgba(2 2 2 / 0.38);
$dark-black: rgba(0 0 0 / 0.68);
$pink:#EF0081;
$dark-pink: rgba(142 15 38 / 0.59);
$clock-color: #60CFFF;
$clock-width: 4rem;
$clock-radius: calc($clock-width / 2);
$clock-minute-length: calc($clock-width * 0.4);
$clock-hour-length: calc($clock-width * 0.2);
$clock-thickness: 0.2rem;
